@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.form-heading { color:#fff; font-size:23px;}
.heading h1{  font-size:30px; margin: 30px 0 5px 0; text-align: center}
.heading h3{ margin: 30px 0 5px 0; text-align: center}
.heading p { color:#070044; font-size:14px; margin-bottom:10px; line-height:24px;text-align: center}
.panel h4{ color:#626263; font-size:16px; margin: 0 0 8px 0; text-align: center}
.panel p { color:#626263; font-size:14px; margin-bottom:10px; line-height:24px;text-align: center}
.login-signup.form-control {
  border: 1px solid #75BDA1;
  border-radius: 6px;
  font-size: 14px;
  height: 50px;
  color: #000000
 }

 
 .loginBox{
  position: absolute;
  border: 1px solid transparent;
  padding: 5px;
  height: auto;
  width:35%;
  margin:auto;
  top:170px;
  left: 52%
}

.backgroundBox{
  position: absolute;
  height: 100%;
  width:100%;
}
.signupBox{
  position: absolute;
  border: 1px solid transparent;
  padding: 5px;
  height: auto;
  width:35%;
  margin:auto;
  top:140px;
  left: 52%; 
 
}

.background-img{
  
    background: url("./backgroud.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
     background-size: auto;
     opacity: 0.7;
  }

.nav-icon{
  color:"#000000";
  font-size: 25px
}

.container{
 background: "#ffffff";
  display: "flex";
  justify-content: "center" 

}

.form-box{
  border:1px solid black;
  height:auto;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px
}

.transparent {
  background-color: transparent !important;
  box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}
.right-border-none {
  border-right:none !important;
  box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}
.icon-size{
  font-size:20px;
  color:#757478;
}

.form-heading{
  text-align: center;
  color:#65CDA4;
  font-size: 30px;
}