@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.form-heading { color:#fff; font-size:23px;}
.heading h1{  font-size:30px; margin: 30px 0 5px 0; text-align: center}
.heading h3{ margin: 30px 0 5px 0; text-align: center}
.heading p { color:#070044; font-size:14px; margin-bottom:10px; line-height:24px;text-align: center}
.panel h4{ color:#626263; font-size:16px; margin: 0 0 8px 0; text-align: center}
.panel p { color:#626263; font-size:14px; margin-bottom:10px; line-height:24px;text-align: center}
.login-signup.form-control {
  border: 1px solid #75BDA1;
  border-radius: 6px;
  font-size: 14px;
  height: 50px;
  color: #000000
 }

 
 .loginBox{
  position: absolute;
  border: 1px solid transparent;
  padding: 5px;
  height: auto;
  width:35%;
  margin:auto;
  top:170px;
  left: 52%
}

.doctorloginBox{
  border: 1px solid transparent;
  background-color: #fff;
  margin: auto;
  width: 30%;
  margin-top: 170px;
  padding:10px 20px 5px 20px;
  -moz-box-shadow: 1px 1px 1px rgba(209, 208, 208, 0.5);
  -webkit-box-shadow: 1px 1px 1px rgba(209, 208, 208, 0.5);
  box-shadow: 1px 1px 1px rgba(209, 208, 208, 0.5);
}

.backgroundBox{
  position: absolute;
  height: 100%;
  width:100%;
}
.signupBox{
  position: absolute;
  border: 1px solid transparent;
  padding: 5px;
  height: auto;
  width:35%;
  margin:auto;
  top:140px;
  left: 52%; 
 
}

.background-img{
  
    background: url("./backgroud.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
     background-size: auto;
     opacity: 0.7;
  }

.nav-icon{
  color:"#000000";
  font-size: 25px
}

.container{
 background: "#ffffff";
  display: "flex";
  justify-content: "center" 

}


input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height:45.1px
}
input[type=date] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height:45px
}



.icon-input{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height:46px;
  
}

.radio-group-box{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  height:45px;
  padding:10px;
}


.transparent {
  background-color: transparent !important;
  box-shadow: inset 0px 1px 0 rgba(0,0,0,.075);
}
.right-border-none {
  border-right:none !important;
  box-shadow: inset 0px 1px 0 rgba(255, 115, 115, 0.075);
}
.icon-size{
  font-size:20px;
  color:#757478;
}

.form-heading{
  text-align: center;
  color:#ffffff;
  font-size: 30px;
}

.form-heading-box{
  margin-top:0px;
  background-color:#012533;
  height: 60px;
  border-radius: 15px 15px 0px 0px;
}

.form-box{
  border:1px solid #9EA1A4;
  height:auto;
  margin-bottom: 30px;
  padding: 0px;
  margin-top: 30px;
  border-radius: 15px;
  margin-left:15px;
}


.content-box{
  margin:10px;
  padding: 10px 5px 50px 5px;
}

* #cf-context { 
  width: 100%; 
  height: 100vh;
  margin: 0px;
  background: #012533; 
}
#form {
  /* height: 0px; */
  overflow: hidden;

} 

.conversational-form-inner:before{
  background: #012533; 
}
