.your-connection-box{
    height:400px;
   margin:5px 5px 5px 40px;

    border:1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.connection-box{
    height:auto;
    margin:5px 40px 5px 40px;
    border:1px solid transparent;
    text-align: center; 
    padding-bottom: 30px;
}

.invitation-box{
    height:200px;
    margin:5px;
    border:1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}
.people-box{
    height: 300px;
    border: 1px solid #B6B6B9;
    padding:"5px";
    
    display: inline-block
}

.image-box{
    border:1px solid #E9EEF0;
    height:120px;
    width:120px;
    border-radius: 120px;
    margin:auto;
   margin-left:35px;
   margin-top: 30px;
   text-align: center;
   padding: 0px;

}
.image-person{
    border:1px solid #E9EEF0;
    height:120px;
    width:120px;
    border-radius: 120px;
    margin:auto;
   overflow: hidden;
}

  .con-search input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width:40%;
    background: #f1f1f1;
    height:50px;
  }
  
  /* Style the submit button */
  .con-search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    height:50px;
  }
  
  .con-search button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  .con-search::after {
    content: "";
    clear: both;
    display: table;
  }